<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="聊天中...">
  <ion-content>
    <ul class="list">
      <li class="item item-avatar item-text-wrap" ng-repeat="msg in messages()">
        <img src="{{msg.sender.avatar}}" />
        <div class="message_content_left">{{msg.text}}</div>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar class="bar bar-footer">
    <div class="item-input-inset row">
      <label class="item-input-wrapper col col-75">
        <input type="text" ng-model="msg.text" placeholder="Type something here...">
      </label>
      <button class="button col col-25" ng-click="sendMessage()">
        Send
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
