<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="msg.text" placeholder="Type something here...">
        </label>
        <button class="button button-small" ng-click="sendMessage()">
          Send
        </button>
      </div>
    </div>

    <div class="list">
      <div class="card" ng-repeat="msg in messages()">
        <div class="item item-text-wrap">
          <a class="item item-avatar" href="#" ng-show="{{msg.is_sender}}">
            <div class="row">
              <div class="col col-75">
                <p>{{msg.text}}</p>
              </div>
              <div class="col col-25">
                <img src="{{msg.avatar}}" />
              </div>
            </div>
          </a>
          <a class="item item-avatar" href="#" ng-show="{{!msg.is_sender}}">
            <img src="{{msg.avatar}}" />
            <p>{{msg.text}}</p>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
