<ion-view view-title="广场">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="特点">
        </label>
        <button class="button button-small" ng-click="search()">
          查找
        </button>
      </div>
    </div>
    <div class="list card" ng-repeat="user in users" href="#/tab/chats/{{user.id}}" ng-click="startChatWith({{user}})">
      <div class="item item-avatar">
        <img src="{{user.avatar}}">
        <div class="row">
          <div class="col col-75">
            <h2>{{user.name}}</h2>
          </div>
          <div class="col col-25">
            <h2>{{user.status}}</h2>
          </div>
        </div>
        <p>{{user.bio}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
