.message {
  background-size: cover;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.message-content-left {
  background: url(../img/message_left_bg.png) no-repeat;
  background-position: left 0px center;
  padding-left: 25px;
  color: #000;
}

.message-content-right {
  background: url(../img/message_right_bg.png) no-repeat;
  background-position: right 0px center;
  padding-right: 10px;
  padding-left: 5px;
  color: #fff;
}

.no-border {
  border: 0px;
}
